.header {
    width: 80%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    position: relative;

    padding: 0px 10px;

    @media (max-width: 767px) {
        width: 100%;
    }

    &__logo {
        justify-self: start;
    }
    &__list {
        display: flex;
        justify-content: center;

        li {
            margin-right: 50px;
            font-size: 25px;
            font-weight: 700;

            user-select: none;
            cursor: pointer;

            &:last-child {
                margin-right: 0;
            }
        }

        @media (max-width: 1024px) {
            display: none;
        }
    }

    &__mobile-menu {
        display: none;
        @media (max-width: 1024px) {
            display: block;
            justify-self: end;
        }
    }
}
